<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMVLYjmKd54uIBOkQ2j9d_kVelS60Nl1k</string>
	<key>GCM_SENDER_ID</key>
	<string>993477652592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.otakuOnDemand</string>
	<key>PROJECT_ID</key>
	<string>otakuondemandapp</string>
	<key>STORAGE_BUCKET</key>
	<string>otakuondemandapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993477652592:ios:aa770c21b6e129dc10c4b5</string>
</dict>
</plist>